---
interface Props {
    id: string
    name: string
    description: string
    category: string[]
    url: {
        website?: string
        repo?: string
    }
}
const { name, category, url, description } = Astro.props
---

<div class="project">
    <div class="heading">
        <span class="name content text-lg text-semibold">
            {name}
        </span>
        <ul class="category content text-italic">
            {
                category.map((cat: string, id: number) => (
                    <li>{cat + `${id == category.length - 1 ? '.' : ','}`}</li>
                ))
            }
        </ul>
    </div>
    <p class="description">{description}</p>
    <div class="actions">
        {
            url.website && (
                <a
                    href={url.repo}
                    class="website effect-underline"
                    target="_blank"
                >
                    Visit
                </a>
            )
        }
        {
            url.repo && (
                <a
                    href={url.repo}
                    class="source-code effect-underline"
                    target="_blank"
                >
                    Source Code
                </a>
            )
        }
    </div>
</div>

<style>
    .project {
        padding-bottom: 1.2em;
    }
    .project .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .project .heading .content {
        padding-bottom: 0.4em;
    }
    .project .heading .category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .project .heading .category li:not(:last-child) {
        padding-right: 0.4em;
    }
    .project .description {
        padding-bottom: 0.4em;
    }
    .project .actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .project .actions a:not(:last-child) {
        margin-right: 0.6em;
    }
    @media screen and (min-width: 1024px) {
        .project .heading {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .project .description {
            text-align: justify;
        }
    }
</style>
