---
const { id, data } = Astro.props
---

<div class="project">
    <div class="heading">
        <span class="name content text-bold">
            {data.name}
        </span>
        <ul class="category content text-italic">
            {
                data.category.map((cat: string, id: number) => (
                    <li>
                        {cat + `${id == data.category.length - 1 ? '.' : ','}`}
                    </li>
                ))
            }
        </ul>
    </div>
    <p class="description">{data.description}</p>
    <div class="actions">
        {
            data.url.website && (
                <a
                    href={data.url.repo}
                    class="website effect-underline"
                    target="_blank"
                >
                    Visit
                </a>
            )
        }
        {
            data.url.repo && (
                <a
                    href={data.url.repo}
                    class="source-code effect-underline"
                    target="_blank"
                >
                    Source Code
                </a>
            )
        }
    </div>
</div>

<style>
    .project {
        padding: 0.8em 0;
    }
    .project .heading {
        display: flex;
        flex-direction: column;
    }
    .project .heading .content {
        padding-bottom: 0.6em;
    }
    .project .heading .category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .project .heading .category li:not(:last-child) {
        padding-right: 0.3em;
    }
    .project .description {
        padding-bottom: 0.6em;
    }
    .project .actions {
        display: flex;
        flex-wrap: wrap;
    }
    .project .actions a:not(:last-child) {
        margin-right: 0.6em;
    }
    @media screen and (min-width: 1024px) {
        .project .heading {
            flex-direction: row;
            justify-content: space-between;
        }
    }
</style>
