@import 'sanitize.css';
@import 'typography.css';

:root {
    --bg: #e1e1e1;
    --fg: #171515;
    --wuzz: cubic-bezier(0.96, 0.02, 0.21, 0.98);
}

body {
    background: var(--bg);
    color: var(--fg);
}

ul {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a.effect-underline,
button.effect-underline {
    position: relative;
    text-decoration: none;
    color: var(--fg);
}

a.effect-underline::before,
button.effect-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1em;
    width: 100%;
    background: var(--fg);
    transform-origin: right;
    transform: scaleX(0%);
    transition: transform 500ms var(--wuzz) 50ms;
}

a.effect-underline::after,
button.effect-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.1em;
    width: 100%;
    background: var(--fg);
    transform-origin: left;
    transform: scaleX(100%);
    transition: transform 500ms var(--wuzz);
}

a.effect-underline:hover::before,
button.effect-underline:hover::before {
    transform-origin: left;
    transform: scaleX(100%);
}

a.effect-underline:hover::after,
button.effect-underline:hover::after {
    transform-origin: right;
    transform: scaleX(0%);
}

a.effect-shine,
button.effect-shine {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--fg);
}

a.effect-shine::before,
button.effect-shine::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,
            rgba(225, 225, 225, 0),
            rgba(225, 225, 225, 0.5),
            rgba(225, 225, 225, 0));
    transform-origin: left;
    transform: translateX(-100%);
    transition: 1s;
}

a.effect-shine:hover::before,
button.effect-shine:hover::before {
    transform: translateX(100%);
}

.container {
    width: min(90%, 1024px);
    margin: 0 auto;
}

.container-md {
    width: min(90%, 1280px);
    margin: 0 auto;
}

.container-lg {
    width: min(90%, 1440px);
    margin: 0 auto;
}

:where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
}

:where([data-astro-image='full-width']) {
    width: 100%;
    height: 100%;
}

:where([data-astro-image='constrained']) {
    max-width: 100%;
    height: 100%;
}
