---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>
    </head>
    <style>
        main {
            min-width: 100vw;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                font-family: "MainSerif";
                font-size: clamp(32px, 6vw, 72px);
                font-style: italic;
            }

            a {
                color: var(--fg);
                text-decoration: none;
            }
        }
    </style>
    <body>
        <main>
            <h1>Error !</h1>
            <h2 class="text-xl">404 - Page not found</h2>
            <p>The page you are looking for is not available</p>
            <a class="effect-underline" onclick="history.back()">Go back</a>
        </main>
    </body>
</html>
