---
import BasicMeta from '../components/BasicMeta.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BasicMeta
            author="Akbar Sani Hasan"
            keywords={['Akbar', 'Sani', 'Hasan']}
            description="Software engineer focusing on performance, simplicity, freedom and colaboration"
        />
        <title>Akbar Sani Hasan</title>
    </head>
    <body> </body>
</html>
