---
import '@styles/global.css'
import BasicHead from '@components/BasicHead.astro'
import { getCollection } from 'astro:content'

interface Props {
    success: boolean
}

const [{ data }] = await getCollection('personal')
const { email } = data
const status_messages = {
    success: 'Email has been copied to your clipboard.',
    failed: 'No interaction detected, failed to copy email.',
}

const { success } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <BasicHead title="Akbar Sani Hasan" />
    </head>
    <body>
        <main class="container">
            <h1 class="text-xl text-display text-italic">Warning !</h1>
            <p id="message">
                {success ? status_messages.success : status_messages.failed}
            </p>
            <div class="actions">
                <a id="close-action" class="effect-underline">Close</a>
                <a href={`mailto:${email}`} class="effect-underline"
                    >Open email</a
                >
            </div>
            <span id="public-email" class="text-display text-italic"
                >{email}</span
            >
        </main>
    </body>
</html>

<style>
    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.8em;

        h1,
        p,
        .actions {
            margin-bottom: 1em;
            text-align: center;
        }
        .actions {
            display: flex;
            flex-wrap: wrap;
        }

        .actions a:not(:last-child) {
            margin-right: 0.8em;
        }

        span {
            margin-top: 0.8em;
        }
    }
</style>

<script>
    document
        .querySelector('#close-action')
        ?.addEventListener('click', () => window.close())
</script>
