---
import HomeLayout from "../components/HomeLayout.astro";
import "../styles/global.css";
const projects = [
    {
        name: "Politikuang",
        url: "https://github.com/akbarsanihasan/politik-uang",
        category: "Application",
    },
    {
        name: "Punokawan",
        url: "https://github.com/akbarsanihasan/punokawan",
        category: "Game Engine",
    },
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akbar Sani Hasan.</title>
    </head>

    <style>
        .content {
            margin: 4rem 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .headlines {
                margin-bottom: 2rem;
                .headline {
                    margin: 0;
                    font-family: "MainSerif";
                    font-weight: 500;
                    font-size: clamp(26px, 5.5vw, 68px);
                }
                .subheadline {
                    font-size: clamp(18px, 1.8vw, 32px);
                }
            }
            .projects {
                span {
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin-top: 0.8rem;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: var(--fg);
                        }
                    }
                }
            }
        }
        .contact {
            a {
                text-decoration: none;
                color: var(--fg);
                margin: 0.5rem 0;
                margin-right: 0.8rem;
            }
        }
    </style>
    <body>
        <HomeLayout>
            <span class="location text-s">Klaten, Central Java, Indonesia.</span
            >

            <div class="content">
                <div class="headlines">
                    <h1 class="headline">Software Engineer.</h1>
                    <span class="subheadline">
                        Glamorizing performance, simplicity and freedom.
                    </span>
                </div>
                <div class="projects">
                    <span class="text-lg">Featured projects</span>
                    <ul>
                        {
                            projects.map((project) => (
                                <li>
                                    <a
                                        href={project.url}
                                        target="_blank"
                                        class="effect-shine"
                                    >
                                        {project.name} ({project.category})
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>

            <div class="contact">
                <a class="text-lg effect-underline" href=""
                    >akbarsanihasan@gmail.com.</a
                >
                <a
                    class="text-lg effect-underline"
                    href="Resume.pdf"
                    target="_blank">Resume,</a
                >
            </div>
        </HomeLayout>
    </body>
</html>
