---
import Header from "../components/Header.astro";
import "../styles/global.css";
const projects = [
    {
        name: "Politikuang",
        url: "https://github.com/akbarsanihasan/politik-uang",
        category: "Application",
    },
    {
        name: "Punokawan",
        url: "https://github.com/akbarsanihasan/punokawan",
        category: "Game Engine",
    },
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akbar Sani Hasan.</title>
    </head>

    <style>
        .home {
            width: 80vw;
            min-height: 100vh;
            margin: auto;
            display: flex;
            flex-direction: column;

            main {
                flex: 1;
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: start;
                margin-top: 5vh;
                .content {
                    margin: 5vh 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .headlines {
                        margin-bottom: 2rem;
                        .headline {
                            margin: 0;
                            font-family: "MainSerif";
                            font-weight: 500;
                            font-size: clamp(26px, 5vw, 64px);
                        }
                        .subheadline {
                            margin: 0;
                            padding: 0;
                            font-size: clamp(18px, 1.8vw, 32px);
                        }
                    }
                    .projects {
                        span {
                            display: inline-block;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }
                        ul {
                            margin: 0;
                            padding: 0;
                            li {
                                margin-bottom: 0.6rem;
                                list-style: none;
                                a {
                                    text-decoration: none;
                                    color: var(--fg);
                                }
                            }
                        }
                        a {
                            text-decoration: none;
                            color: var(--fg);
                        }
                    }
                }
                .contact {
                    a {
                        text-decoration: none;
                        color: var(--fg);
                        margin: 0.5rem 0;
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        @media screen and (min-width: 720px) {
            .home {
                main {
                    .content {
                        flex-direction: row;
                        flex-wrap: wrap;
                        .headlines {
                            margin-right: 12vw;
                        }
                    }
                }
            }
        }
    </style>
    <body>
        <div class="home">
            <Header />
            <main>
                <span class="location text-s"
                    >Klaten, Central Java, Indonesia.</span
                >

                <div class="content">
                    <div class="headlines">
                        <h1 class="headline">Software Engineer.</h1>
                        <p class="subheadline">
                            Glamorizing performance, simplicity & freedom.
                        </p>
                    </div>
                    <div class="projects">
                        <span class="text-lg">Featured projects</span>
                        <ul>
                            {
                                projects.map((project) => (
                                    <li>
                                        <a
                                            href={project.url}
                                            target="_blank"
                                            class="effect-shine"
                                        >
                                            {project.name} ({project.category})
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                        <a href="" target="_blank" class="effect-underline">
                            More
                        </a>
                    </div>
                </div>

                <div class="contact">
                    <a class="text-lg effect-underline" href=""
                        >akbarsanihasan@gmail.com.</a
                    >
                    <a
                        class="text-lg effect-underline"
                        href="Resume.pdf"
                        target="_blank">Resume,</a
                    >
                </div>
            </main>
        </div>
    </body>
</html>
