---
interface Props {
    author?: string
    description?: string
    keywords?: string[]
    title?: string
}

const {
    title,
    author = 'Akbar Sani Hasan',
    description,
    keywords,
} = Astro.props
---

<head>
    <title>{title ? `${title} - ${author}` : author}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords && keywords.join(',')} />
    <slot />
</head>
