---
const socials: { platform: string; url: string }[] = [
    {
        platform: "Github,",
        url: "https://github.com/akbarsanihasan",
    },
    {
        platform: "Instagram.",
        url: "https://instagram.com/akbarsanihasan",
    },
];
---

<style>
    header {
        --header-height: 20vh;
        height: var(--header-height);
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        .brand {
            a {
                font-family: "MainSerif";
                color: var(--fg);
                text-decoration: none;
                font-weight: 600;
                font-style: italic;
            }
        }
        .socials {
            margin: 0;
            padding: 0;
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: var(--fg);
                }
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }
        }
        nav {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                li {
                    &:not(:last-child) {
                        margin-right: 0.5rem;
                    }
                    a {
                        color: var(--fg);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 720px) {
        header {
            --header-height: 25vh;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
</style>
<header>
    <span class="brand"><a href="/" class="text-xl">Akbar Sani H.</a></span>
    <nav>
        <ul>
            <li><a class="effect-shine" href="/works">Works,</a></li>
            <li><a class="effect-shine" href="/blog">Blogs,</a></li>
            <li><a class="effect-shine" href="/about">About.</a></li>
        </ul>
    </nav>
    <ul class="socials">
        {
            socials.map((social) => (
                <li>
                    <a
                        class="effect-underline"
                        href={social.url}
                        target="_blank"
                    >
                        {social.platform}
                    </a>
                </li>
            ))
        }
    </ul>
</header>
