<header>
    <a href="/" class="brand">Akbar Sani H.</a>
    <nav>
        <ul>
            <li><a href="/works">Works</a></li>
            <li><a href="/Blogs">Blogs</a></li>
            <li><a href="/Blogs">About</a></li>
        </ul>
    </nav>
</header>
