---
import { getCollection } from 'astro:content'
const [{ data }] = await getCollection('personal')
const { email, socials } = data
---

<header>
    <nav>
        <div class="nav-control">
            <a
                href="/"
                class="brand text-2xl text-display text-bold effect-shine"
                >Akbar Sani H.</a
            >
            <button id="nav-control-button" data-open="close">Menu</button>
        </div>
        <ul class="nav-links hidden" id="nav-links">
            <li>
                <a href="/about" class="effect-shine">About,</a>
            </li>
            <li>
                <a href="Resume.pdf" target="_blank" class="effect-shine"
                    >Resume.</a
                >
            </li>
        </ul>
    </nav>
    <ul class="socials hidden" id="socials">
        <li>
            <button id="email" data-email={email} class="effect-underline"
                >Email,</button
            >
        </li>
        {
            socials.map((social) => (
                <li>
                    <a
                        href={social.url}
                        class="effect-underline"
                        target="_blank"
                    >
                        {social.name}
                    </a>
                </li>
            ))
        }
    </ul>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    header ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    header ul.socials,
    header nav ul.nav-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    header ul.socials.hidden,
    header nav ul.nav-links.hidden {
        display: none;
    }
    header ul.socials li,
    header nav ul.nav-links li {
        padding: 0.6em 0;
    }
    header ul.socials {
        list-style: none;
    }
    header nav a.brand {
        padding: 0.6em 0;
        align-self: start;
    }
    header nav .nav-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and (min-width: 1024px) {
        header {
            padding: 0;
        }
        header {
            justify-content: space-between;
        }
        header ul.socials,
        header nav ul.nav-links {
            flex-direction: column;
            align-items: end;
        }
        header ul.socials li,
        header nav ul.nav-links li {
            padding: 0;
            padding-top: 0.6em;
        }
        header ul.socials.hidden,
        header nav ul.nav-links.hidden {
            display: flex;
        }
        header nav .nav-control > button {
            display: none;
        }
        header nav a.brand {
            padding: 0;
            padding-bottom: 0.6em;
        }
    }
</style>

<script>
    const email = document.getElementById('email')
    const navLinks = document.getElementById('nav-links')
    const socials = document.getElementById('socials')
    const navControlBtn = document.getElementById('nav-control-button')

    navControlBtn?.addEventListener('click', function () {
        const isOpen = this.dataset.open == 'open'

        navLinks?.classList.toggle('hidden', isOpen)
        socials?.classList.toggle('hidden', isOpen)

        this.setAttribute('data-open', isOpen ? 'close' : 'open')
        this.innerText = this.dataset.open == 'open' ? 'Close' : 'Menu'
    })

    let emailTimeout: NodeJS.Timeout | null = null
    email?.addEventListener('click', function (event) {
        event.preventDefault()
        const email = this.dataset.email as string

        if (!navigator.clipboard) {
            window.location.href = `mailto:${email}`
            return
        }

        navigator.clipboard
            .write([
                new ClipboardItem({
                    ['text/plain']: email,
                }),
            ])
            .then(() => {
                this.innerText = 'Email copied,'

                if (emailTimeout) clearTimeout(emailTimeout)
                emailTimeout = setTimeout(() => {
                    this.innerText = 'Email,'
                }, 3000)
            })
    })
</script>
