---
type Socials = { name: string; url: string }[]
const socials: Socials = [
    {
        name: 'GitHub.',
        url: 'https://github.com/akbarsanihasan',
    },
]
const publicEmail = 'akbarsanihasan@gmail.com'
---

<header>
    <nav>
        <ul>
            <li>
                <a href="/" class="effect-shine">Home,</a>
            </li>
            <li>
                <a href="/about" class="effect-shine">About,</a>
            </li>
            <li>
                <a href="/projects" class="effect-shine">Projects,</a>
            </li>
            <li>
                <a href="/blogs" class="effect-shine">Blogs.</a>
            </li>
        </ul>
    </nav>
    <ul class="socials">
        <li>
            <button id="email" data-email={publicEmail} class="effect-underline"
                >Email,</button
            >
        </li>
        <li>
            <a href="Resume.pdf" target="_blank" class="effect-underline"
                >Resume,</a
            >
        </li>
        {
            socials.map((social) => (
                <li>
                    <a href={social.url} class="effect-underline">
                        {social.name}
                    </a>
                </li>
            ))
        }
    </ul>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 6em;
        padding: 0.8em 0;
    }
    header nav .brand {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        border: 0.2em solid var(--fg);
        overflow: hidden;
        align-self: end;
        margin-bottom: 0.8em;
    }
    header nav ul,
    header ul.socials {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul li,
    header ul.socials li {
        padding-right: 0.8em;
    }
    header ul.socials {
        list-style: none;
    }
    header nav ul,
    header ul.socials {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1024px) {
        header {
            justify-content: space-between;
        }
        header nav ul,
        header ul.socials {
            flex-direction: column;
            align-items: end;
        }
        header nav ul li,
        header ul.socials li {
            padding: 0;
            margin-top: 0.3em;
        }
    }
</style>
<script>
    interface EmailActionElement extends HTMLAnchorElement {
        dataset: {
            email: string
        }
    }

    const email = document.getElementById('email') as EmailActionElement
    email.addEventListener('click', function (event) {
        event.preventDefault()
        const email = this.dataset.email as string

        if (!navigator.clipboard) {
            window.location.href = `mailto:${email}`
            return
        }

        navigator.clipboard
            .write([
                new ClipboardItem({
                    ['text/plain']: email,
                }),
            ])
            .then(() => window.open('/email', '_blank'))
    })
</script>
