---
import MainHead from '@components/MainHead.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <MainHead
            description="I made this with my own two hands, they covered with my blood, sweat, tears and other fluids"
            title="Projects - Akbar Sani Hasan"
        />
    </head>
    <body> </body>
</html>
