---
import MainHead from '@components/MainHead.astro'
import ReadingLayout from '@layouts/ReadingLayout.astro'
import type { GetStaticPaths } from 'astro'
import { render } from 'astro:content'
import { getCollection } from 'astro:content'

export const getStaticPaths = (async () => {
    const blogs = await getCollection('blogs')
    return blogs.map((blog) => {
        const { id } = blog
        return {
            params: { id },
            props: { project: blog },
        }
    })
}) satisfies GetStaticPaths

const { project } = Astro.props
const { Content } = await render(project)
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <MainHead title={project.data.title} description={project.data.excerpt} />
    <body>
        <ReadingLayout><Content /></ReadingLayout>
    </body>
</html>
