---
import '@styles/global.css'
import BasicHead from '@components/BasicHead.astro'
import MainLayout from '@layouts/MainLayout.astro'

import { getCollection } from 'astro:content'
import Post from '@components/Blogs/Post.astro'

const blogPosts = await getCollection('blogs')
---

<!doctype html>
<html lang="en">
    <BasicHead title="Blogs" />
    <body>
        <MainLayout>
            {
                blogPosts.map(({ id, data }) => (
                    <Post
                        title={data.title}
                        published_date={new Date(data.published_date)}
                        excerpt={data.excerpt}
                        url={`/blogs/${id}`}
                    />
                ))
            }
        </MainLayout>
    </body>
</html>
<style></style>
