---
import MainHead from '@components/MainHead.astro'
import ReadingLayout from '@layouts/ReadingLayout.astro'
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <head>
        <MainHead
            description="Some of my finest writings"
            title="Blogs - Akbar Sani Hasan"
        />
    </head>
    <body>
        <ReadingLayout />
    </body>
</html>
